.aboutMeBody {
  height: 500px;
  color: #ffffff;
}
.aboutMe_about {
  background-color:  #1895c5;
  text-align: right;
}
.aboutMe_skills {
  background: #1ca8dd;
  text-align: left;
}
.aboutMe_subTitle {
  display: block;
  font-size: 64px;
  padding-bottom: .25em;
  position: relative;
}