#work1{
    background-color: rgb(40,40,40);
    color:white;
}

.gallery-title::before {
    color: #30b7e8;
}

#modal-out{
    background-color: rgb(40,40,40);
}


/*portfolio  head */

/* table*/

a {
    background-color: transparent;
    color: #89ddff;
    text-decoration: none;
    cursor: pointer;
}

/* categ */
.categ.html {
    background: #8dca35;
    color: white;
}

.categ.css {
    background: #00bfdd;
    color: white;
}

.categ.js {
    background: #ff702a;
    color: white;
}

/*ui button */

.ui-button, .ui-button a:link, .ui-button a:visited{
    background: #30b7e8;
    color: white;
}

table {
    border: 1px solid white;
}

table thead th {
    background-color: rgba(128, 136, 139, 0.5);
    color: white;
}
